<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:name=".SmartDeliveryApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartDeliveryApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <!-- Google Maps API Key Removed -->

        <activity
            android:name=".presentation.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".presentation.home.HomeActivity" />
        <activity android:name=".presentation.kyc.KycActivity" />
        <activity android:name=".presentation.order.CreateOrderActivity" />
        <activity android:name=".presentation.auth.RegisterActivity" />
        <activity android:name=".presentation.admin.AdminDashboardActivity" />
        <activity android:name=".presentation.admin.AdminUserListActivity" />
        
        <service 
            android:name=".presentation.tracking.TrackingService"
            android:foregroundServiceType="location"
            android:exported="false" />

    </application>

</manifest>
